html {
    margin: 0 auto 0;
    width: 1440px;
    font-family: 'Alata', sans-serif;
    background: black;
}



h1 {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    height: 600px;
    background: url(images/desktop/image-hero.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding: 50px 165px 0;

}

main, footer {
    padding: 0 165px 0;
}

.header--logo--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}

.header--nav {
    list-style: none;
}


.header--nav--list li {
    display: inline-block;
    margin-left: 30px;
}

.header--nav--list li a {
    text-decoration: none;
    color: white;
}

.immersive--experience {
    width: 54%;
    margin-top: 120px;
    color: white;
    font-size: 65px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 41px;
}

main {
    background: hsl(0, 0%, 100%);
    padding: 0 165px 190px;
}

footer {
    height: 20vh;
    background: gray;
}

.leader--interactive--vr {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: end;
    padding: 100px 0 0 0;

}

.interactive--box--text {
    position: absolute;
    left: 51%;
    height: 55%;
    background: white;
}

.margin--text {
    margin: 0 0 0 96px;
}

.interactive--title {
    font-size: 50px;
    margin-top: 100px;

}

.interactive--p {
    margin-top: 40px;
    font-size: 15px;
    line-height: normal;
    color: hsl(0, 0%, 55%);
}

.our--creations {
    display: flex;    
    margin-top: 100px;
    height: 188px;
    justify-content: space-between;
    align-items: center;
}

.creations--title {
    font-size: 50px;
}

.grid--images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 28px;

}

.grid--images li img  {
    width: 100%;
    filter: brightness(70%);
}

.deep--earth, .night--arcade, .soccer--arcade, .the--grid, .above--vr, .pocket--borealis, .the--curiosity, .make--fisheye {
    position: relative;

}

.deep--earth--text, .night--arcade--text, .soccer--text, .grid--text, .vr--text, .borealis--text, .curiosity--text, .fisheye--text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 37px;
    margin: 0 45px 0;
}
