html {
    margin: 0 auto 0;
    width: 1440px;
    font-family: 'Alata', sans-serif;
    background: #ebe9e947;
}



h1 {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    height: 600px;
    background: url(images/desktop/image-hero.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding: 50px 165px 0;

}

main {
    padding: 0 165px 0;
}

.header--logo--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}

.margin--header--nav li {
    margin-left: 30px;
}


.nav--list li {
    display: inline-block;

}


.nav--list li a {
    text-decoration: none;
    color: white;
}

.immersive--experience {
    width: 54%;
    margin-top: 120px;
    color: white;
    font-size: 65px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 41px;
}

main {
    background: hsl(0, 0%, 100%);
    padding: 0 165px 190px;
}

.leader--interactive--vr {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: end;
    padding: 100px 0 0 0;

}



.interactive--box--text {
    position: absolute;
    left: 51%;
    height: 55%;
    background: white;
}

.margin--text {
    margin: 0 0 0 96px;
}

.interactive--title {
    font-size: 50px;
    margin-top: 100px;

}

.interactive--p {
    margin-top: 40px;
    font-size: 15px;
    line-height: normal;
    color: hsl(0, 0%, 55%);
}

.our--creations {
    display: flex;    
    margin-top: 100px;
    height: 188px;
    justify-content: space-between;
    align-items: center;
}

.creations--title {
    font-size: 50px;
}

.see--all {
    font-family: 'Alata', sans-serif;
    background: white;
    padding: 12px 56px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2px;
}

.grid--images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 28px;

}

.grid--images li img  {
    width: 100%;
    filter: brightness(70%);
}

.deep--earth, .night--arcade, .soccer--arcade, .the--grid, .above--vr, .pocket--borealis, .the--curiosity, .make--fisheye {
    position: relative;

}

.deep--earth--text, .night--arcade--text, .soccer--text, .grid--text, .vr--text, .borealis--text, .curiosity--text, .fisheye--text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 37px;
    margin: 0 45px 0;
}

footer {
    background: hsl(0, 0%, 0%);
    padding: 0 165px 40px;
}

.footer--logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0 0;

}

.loop--logo img {
    width: 153px;
}

.footer--nav {
    Margin-top: 36px;
}

.margin--footer--nav li {
    margin-right: 30px;
}

.other--logos {
    text-align: right;
}

.other--logos img {
    margin-left: 12px;
}

.footer--copyright--nav {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.copyright {
    color: hsl(0, 0%, 55%);
    font-size: 15px;
    margin-top: 36px;
}


@media screen and (min-width: 701px) {

    .image--vr--mobile, .deep--eart--mobile, .night--arcade--mobile, .soccer--arcade--mobile, .the--grid--mobile, .above--vr--mobile, .pocket--borealis--mobile, .the--curiosity--mobile, .make--fisheye--mobile, .see-all--mobile  {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    html {
        width: auto;
    }

    header {
        height: auto;
        background: url(images/mobile/image-hero.jpg) no-repeat;
        background-size: 100% 100%;
        padding: 50px 0 0 0;
        padding: 50px 0 0 0;
    }

    .immersive--experience {
        font-size: 36px;
        margin: 50px auto 0;
    }

    main {
        padding: 0;
    }

    footer {
        padding: 0 0 60px 0;
    }

   
    .leader--interactive--vr {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        align-items: initial;
    }

    .image--vr--desktop, .deep--eart--desktop, .night--arcade--desktop, .soccer--arcade--desktop, .the--grid--desktop, .above--vr--desktop, .pocket--borealis--desktop, .the--curiosity--desktop, .make--fisheye--desktop {
        display: none;
    }

    .image--vr--mobile, .deep--eart--mobile ,.night--arcade--mobile, .soccer--arcade--mobile, .the--grid--mobile, .above--vr--mobile, .pocket--borealis--mobile, .the--curiosity--mobile, .make--fisheye--mobile {
        display: block;
        width: 100%;
    }

    .interactive--box--text {
        position: unset;
        left: unset;
        height: unset;
    }

    .margin--text {
        margin: 0 38px 0px;
        text-align: center;
    }

    .interactive--title {
        font-size: 36px;
        margin-top: 60px;
    }

    .interactive--p {
        margin-top: 20px;
    }

    .our--creations {
        display: block;
        height: 70px;
        text-align: center;
    }

    .creations--title {
        font-size: 40px;
    }

    .see--all {
        display: none;
    }

    .see-all--mobile {
        display: block;
        margin: 20px auto 70px;
    }
    
    .grid--images {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }

    .footer--logos, .other--logos {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer--logos {
        gap: 25px;
    }

    .margin--footer--nav li, .nav--list li {
        margin-right: unset;
        display: block;
        padding: 0 0 25px 0;
    }


}